/*COMMON STYLES*/

.section-title {
    color: darkorchid;
    font-style: italic
}

footer {
    margin: auto;
    width: 960px;
    text-align: center;
    align-content: center;
    padding-top: 50px;
}


/* INDEX PAGE STYLES */

.img-thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.table-center {
    margin: auto;
    text-align: center;
    align-content: center;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Add a hover effect (blue shadow) */

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* DATA PAGE STYLES */

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 350px;
    overflow: auto;
    margin-top: 75px;
}

#table-wrapper table {
    width: 100%;
}

#table-wrapper table * {
    background: lightgray;
    color: black;
}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 200px;
    width: 35%;
    border: 1px solid red;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}